altgraph==0.17.4
cfgv==3.4.0
construct==2.10.70
distlib==0.4.0
filelock==3.18.0
identify==2.6.12
importlib-metadata==8.7.0
mercury-engine-data-structures==0.35.0
nodeenv==1.9.1
packaging==25.0
pefile==2023.2.7
platformdirs==4.3.8
pre-commit==4.2.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pyside6==6.9.1
pyside6-addons==6.9.1
pyside6-essentials==6.9.1
pywin32-ctypes==0.2.3
pyyaml==6.0.2
randovania-lupa==2.0.2
setuptools==80.9.0
shiboken6==6.9.1
virtualenv==20.33.0
zipp==3.23.0
zstandard==0.23.0
