altgraph==0.17.5
cfgv==3.5.0
construct==2.10.70
distlib==0.4.0
filelock==3.29.0
identify==2.6.19
importlib-metadata==9.0.0
mercury-engine-data-structures==0.35.0
nodeenv==1.10.0
packaging==26.2
pefile==2024.8.26
platformdirs==4.9.6
pre-commit==4.6.0
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.4
pyside6==6.11.0
pyside6-addons==6.11.0
pyside6-essentials==6.11.0
python-discovery==1.2.2
pywin32-ctypes==0.2.3
pyyaml==6.0.3
randovania-lupa==2.0.4
setuptools==82.0.1
shiboken6==6.11.0
virtualenv==21.2.4
zipp==3.23.1
zstandard==0.25.0
